* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    color: #f7ede2f1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    // background: linear-gradient(to left, #633A38 50%, #2E0000 50%);
    // background-color: #201d2c;
    background-image: linear-gradient(to bottom, #191821 , #1a1629);
    font-size: 1rem;
}


// Nav Bar & Hero section

#App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Main {
    width: 75%;
    height: 50%;
    margin-top: 18rem;
    margin-bottom: 12rem;
    left: 15%;
    top: 20%;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

#Main h1 {
    font-size: 10rem;
    // color: #726087;
    // -webkit-text-stroke: 2px #aba1b2;
    // -webkit-text-stroke: 2px #e19661;
    color: #cb986f;
    background-color: #f3ec78;
    // regular gradient
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    background: linear-gradient(to right, #f3ec78 20%, #cb986f 40%, #af4261 60%, #cb986f 80%, #f3ec78 100%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  
  animation: shine 6s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

}

#Main h1:hover {
        // to make flowing gradient
        background: linear-gradient(to right, #f3ec78 20%, #cb986f 40%, #af4261 60%, #cb986f 80%, #f3ec78 100%);
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
      
      animation: shine 6s linear infinite;
      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
}




#Main h2 {
    font-size: 2rem;
    color: #f7ede2f1;
}


#Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

#leftNav,
#rightNav {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 10%;
}



.navLink:link {
    text-decoration: none;
    padding: 1rem;
    opacity: .8;
}

.navLink:hover {
    background-color: #B8896C;
    border-radius: .3rem;
}

.get-started {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background-color: #B8896C;
    background: radial-gradient(#b5907a, #a87353);
    margin-top: 2rem;
    padding: .9rem;
    width: fit-content;
    border-radius: .5rem;
    transition: all .2s ease-in-out; 
    border: 1px solid rgba(255, 255, 255, 0.2)

}

.get-started:hover {
    transform: scale(1.13); 
    // background: linear-gradient(to right, #f3ec78 10%, #cb986f 30%, #af4261 70%, #cb986f 95%, #f3ec78 100%);
    background: linear-gradient(to right, #cb986f, #af4261d0, #cb986f);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
   -webkit-background-clip: background;
   -webkit-text-fill-color: #f7ede2;
  
  animation: shine 3s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

}


#Logo {
    margin-top: 2rem;
    width: 400px;
    height: 400px;
}


// Features
#Features {
    width: fit-content;
    padding: 1rem;
    margin: 9rem;
}

#Features h2 {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 3.5rem;
    text-align: center;
    margin: 3rem;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .5);
    width: 20rem;
    height: 25rem;
    border-radius: .5rem;
}

.feature-title {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-bottom: 2rem;
}

.feature-title h3 {
    color: #945731;
    text-align: left;


}

.feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    width: 43rem;
    border-radius: .5rem;
}

.feature img {
    height: 25rem;
    width: auto;
    padding: 2rem;

}

.caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    font-size: .8rem;
    // color: #191821
}

// Team
#Team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    margin: 4rem;
    gap: 2rem;
    margin-bottom: 9rem;
}

#Team h2 {
    color: #cb986f;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

#Team .member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: .4rem;
    border: 4px solid transparent;
}

#Team .member-photo {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border: 1px #f7ede2 solid;
    border-radius: 5rem;
    // opacity: .9;
}

#Team div {
    color:#201d2c;
}

#Team .memberContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: fit-content
}


#Team .name {
    color: white;
    // font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1rem;
}

#Team .title {
    color:#e0da73ea;
}

.linkedin-icon,
.github-icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
    opacity: .6;
    margin-top: 1rem;
}

.member-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

// Footer
#Footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem;
    width: 100%;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%;
   background-color:#e4e2f746;
   font-size: .8rem;
}

// Background
.circles{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    // overflow: hidden;
}

.circles li{
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: 0;    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 25%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


@media only screen and (min-width: 1px) and (max-width:600px) {
    #Team .memberContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        // width: fit-content;
        flex-wrap: wrap;
        -webkit-transform: scale(0.9, 0.9);

    }

    #Team h2 {
        color: #cb986f;
        background-color: #f3ec78;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-size: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;
        gap: 1rem;
        flex-wrap: wrap;
    }

    #Main {
        border-radius: .3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        -webkit-transform: scale(0.5, 0.5);
        // margin-left: 5rem;
    }

    #Features {
        padding: 1rem;
    }
    .feature {
        justify-content: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 375px;
    }

    .feature-img {
        -webkit-transform: scale(0.6, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        border-radius: .5rem;
    }

    
    #Features h2 {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-size: 3.5rem;
        text-align: center;  
        flex-wrap: wrap;  
    }
    
    .feature-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, .5);
        border-radius: .5rem;
    }
    
    .feature-title {
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .feature-title h3 {
        color: #945731;
        text-align: left;
    }

    
    .feature img {
        padding: 2rem;
    }

    #Nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }

    .navLink:link {
        text-decoration: none;
        opacity: .8;
    }

    body {
        background-image: linear-gradient(to bottom, #191821 , #1a1629);
        font-size: 1rem;
    }
}


@media only screen and (min-width:601px) and (max-width:820px) {
    #Team .memberContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;
    }

    #Team h2 {
        color: #cb986f;
        background-color: #f3ec78;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-size: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;
        gap: 1rem;
        flex-wrap: wrap;
    }

    #Main {
        border-radius: .3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        -webkit-transform: scale(0.8, 0.8);
        // margin-left: 5rem;
    }

    #Features {
        padding: 1rem;
    }
    .feature {
        justify-content: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;  
        width: 375px;
        -webkit-transform: scale(0.9, 0.9);
    }

    .feature-img {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        border-radius: .5rem;
    }

    
    #Features h2 {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-size: 3.5rem;
        text-align: center;  
        flex-wrap: wrap;  
    }
    
    .feature-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, .5);
        border-radius: .5rem;
        -webkit-transform: scale(1.2, 1.2);
        margin: 1rem;

    }
    
    .feature-title {
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .feature-title h3 {
        color: #945731;
        text-align: left;
    }

    
    .feature img {
        height: fit-content;
        width: auto;
        padding: 2rem;
    }

    #Nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }

    .navLink:link {
        text-decoration: none;
        opacity: .8;
    }

    body {
        background-image: linear-gradient(to bottom, #191821 , #1a1629);
        font-size: 1rem;
    }
}